*, html { padding: 0; margin: 0; }

html {
	height: 100%;
}

body {
	font-family:Arial,Helvetica,sans-serif;
	margin: 0px auto;
	height: 100%;
	background-color: #767676;
	font-size: 10pt;
}

h1 {
	margin: 5px 0px;
}


ul {
	margin: 10px;
	margin-left: 30px;
}

input {
	padding: 3px;
}
	
#container {
	width: 940px;
	padding: 0px 20px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	background: white url('../img/back_container.png');

}
#header {

	height: 60px;
	padding: 20px;
	background-color: white;
}
	#header h1 {
		margin: 0px;
		font-size: 40pt;
	}
	#header #quicklinks {
		border: 1px solid #2f2f2f;
		background-color: #737373;
		padding: 10px;
		float: right;
		color: white;
		border-radius: 5px;
	}
	
	#header #quicklinks ul, #header #quicklinks ul li{
		margin: 0px; padding: 0px; 
		list-style: none;
	}
	#header #quicklinks a {
		color: white;
		text-decoration: none;
		font-size: 9pt;
		line-height: 150%;
	}

#sidebar {
	width: 160px;
	float: left;
}
	#sidebar ul,#sidebar ul li{
		margin: 0px; padding: 0px; list-style:none;
	}
	#sidebar ul li a {
		display: block;
		height: 20px;
		padding-top: 80px;
		text-align: center;
		width: 100px;
		margin: 30px;
		background: #ededed;
		border: 1px solid #848484;
		border-radius: 5px;
		color: #724141;
		text-decoration: none;
		background-position: 50% 50%; 
		background-repeat: no-repeat;
	}
#menu {
	background-color: black;
	color: white;
	padding: 0px;
	height: 30px;
	background: white url('../img/back_menu.png');
}
	#menu ul{
		margin: 0px;
		padding: 0px;
		list-style-type: none;
	}
	#menu li{
		display: inline;
		margin:  0px 20px;
		padding: 0px;
		
	}
	#menu a {
		color: white;
		font-weight: bold;
		text-decoration: none;
		padding: 6px;
		position: relative;
		top: 9px;
	}
	#menu a:hover {
		background-color: white;
		color: black;
	}
	#menu a.active {
		background-color: white;
		color: black;
		border:  1px solid #c99797;
		border-bottom: 0px;
	}
	.menu_left {
		width: 160px;
		height: 30px;
		background: white url('../img/left_menu.png');
		float: left;
	}

#content {
	padding: 15px;
	width: 749px;
	float: right;
	border-left: 1px solid #c99797;
	border-top: 1px solid #c99797;
}
	#content a {
		color: #7f0000;
		text-decoration: none;
	}
	#content a:hover {
		color: #e00101;
		text-decoration: underline;
	}
	#content table{
		border: 0px;
	}
	#content table th{
		padding: 3px 7px;
		background-color: black;
		color: white;
		border: 1px solid black; 
	}
	#content table tr td{
		padding: 3px 7px;
		border: 1px solid white; 
		background-color: #fafafa;
	}
	#content table tr.odd td{
		background-color: #efefef;
	}
	#content h1 {
		font-size: 18pt;
		border-bottom: 1px solid #c99797;
		width: 100%;
	}

.mailing {
	border: 1px solid #DDDDDD;
	margin: 20px 0px;
	padding: 10px;
}
.mailing p {
	margin: 5px 0px 10px 0px;
}


#footer {
	background-color: black;
	height: 35px;
	color: white;
	clear: both;
}

.add-user{
	width: 100%;
	background: #f9f9f9;
}
.add-user table{
	padding: 5px 0px;
	font-size: 9pt;
}
.add-user input.input {
	width: 100%;
	border: 1px solid #cbcbcb;
}
.add-user input.button{
	float: right;
}
.add-user select{
	border: 1px solid #CCC;
	margin: 0px;
	width: 100%;
}
.add-user input, .add-user select, .add-user textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.add-user textarea {
	width: 100%;
}
.add-user tr.odd{
	background: #efefef;
}

#login_screen {
	margin: 0px auto;
	border: 1px solid #AAAAAA;
	width: 400px;
	padding: 20px;
	text-align: center;
}
#login_screen label {
	display: block;
}
#login_screen input {
	margin: 10px;
	padding: 10px;
}
