#blob0 {
  top: 0px;
  left: -150px;
  animation-delay: .5s; }

#blob1 {
  top: 200px;
  left: -150px;
  animation-delay: 1s; }

#blob2 {
  top: 650px;
  left: -150px;
  animation-delay: 1.5s; }

#blob3 {
  top: 900px;
  left: -150px;
  animation-delay: 2s; }

#blob4 {
  top: 0px;
  right: -150px;
  animation-delay: 2.5s; }

#blob5 {
  top: 50px;
  right: -150px; }

#blob6 {
  top: 400px;
  right: -150px; }

#blob7 {
  top: 700px;
  right: -150px; }

#blob8 {
  top: 750px;
  right: -150px; }

#blob9 {
  top: 1000px;
  right: -150px; }

#blob0, #blob1, #blob2, #blob3 {
  position: absolute;
  opacity: 1;
  left: 0; }

#blob4, #blob5, #blob6, #blob7, #blob8, #blob9 {
  position: absolute;
  opacity: 1;
  right: 0; }
