#blobs {
  z-index: -1;
}
#blob0 {
  position: absolute;
  top: 76px;
  left: 0px;
  width: 297px;
  height: 1336px;
  background: url('../img/bg-left.png') center center / cover no-repeat;
}

#blob1 {
  position: absolute;
  top: 76px;
  right: 0px;
  width: 297px;
  height: 1516px;
  background: url('../img/bg-right.png') center center / cover no-repeat;
}
