#blobs {
  z-index: -1;
}
#blob0 {
  top: 0px;
  left: -150px;
}

#blob1 {
  top: 200px;
  left: -150px;
}

#blob2 {
  top: 650px;
  left: -150px;
}

#blob3 {
  top: 900px;
  left: -150px;
}

#blob4 {
  top: 0px;
  right: -150px;
}

#blob5 {
  top: 50px;
  right: -150px; }

#blob6 {
  top: 400px;
  right: -150px; }

#blob7 {
  top: 700px;
  right: -150px; }

#blob8 {
  top: 750px;
  right: -150px; }

#blob9 {
  top: 1000px;
  right: -150px; }

#blob0, #blob1, #blob2, #blob3 {
  position: absolute;
  left: 0; }

#blob4, #blob5, #blob6, #blob7, #blob8, #blob9 {
  position: absolute;
  right: 0; }
