#block-views-votes-block {
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 2em 0;
}
#block-views-votes-block .views-row {
  display: inline-block;
  margin: 5px;
  position: relative;
}
#block-views-votes-block img {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  border: 7px solid white;
}

#block-views-votes-block .views-field-picture:hover + .views-field-name {
  display: block;
}
#block-views-votes-block .views-field-name {
  width: 100%;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  top: -35px;
  background: white;
  padding: 5px 10px;
  color: black;
  display: none;
}
.block-opknappertje {
  padding: 3em 0;
  text-align: center;
}
.block-opknappertje h1 {
  font-family: 'axure_handwritingregular';
  font-size: 5em;
  color: white;
  margin-bottom: .5em;
}
.block-opknappertje h2 {
  color: white;
}
.block-opknappertje h1 small{
  font-size: 23px;
  color: white;
}
.block-opknappertje ul {
  width: 100%;
  display: block;
  text-align: center;
  padding: 0;
}
.block-opknappertje ul li {
  display: inline-flex;
  margin: 1em;
}
.block-opknappertje .image {
  margin-top: 100px;

}
.block-opknappertje .image img {
  max-width: 100%;
  border: 20px solid white;
  box-shadow: 0 0 50px rgba(0,0,0,0.5);
}

.block-title {
  text-align: center;
}

#block-opknappertje-hero-block-campaign-top5 {
  background: white;
  padding: 0;
}
#block-opknappertje-hero-block-campaign-top5 .block-title {
  background: url('../img/dark-grungewall.png');
  padding: .5em 0;
  text-align: center;
  margin: 0;
}
#block-opknappertje-hero-block-campaign-top5 ul {
  margin: 0;
}
#block-opknappertje-hero-block-campaign-top5 li {
  border-bottom: 2px dashed #F2F2F2;
  display: block;
  margin: 0;
  text-align: left;
}
#block-opknappertje-hero-block-campaign-top5 li:after {
  content: '';
  display: block;
  clear: both;
}
#block-opknappertje-hero-block-campaign-top5 li a {
  display: block;
  width: 100%;
  color: black;
  padding: .5em;
  font-family: 'axure_handwritingregular';
  margin-bottom: 0;
}
#block-opknappertje-hero-block-campaign-top5 li a:after {
  clear: both;
  content: '';
  display: block;
}
#block-opknappertje-hero-block-campaign-top5 li a:hover {
  text-decoration: none;
  background-color: #F2F2F2;
}
#block-opknappertje-hero-block-campaign-top5 li .picture {
  width: 65px;
  height: auto;
  float: left;
  margin: 0 15px 0 0;
}
#block-opknappertje-hero-block-campaign-top5 li .picture img {
  border-radius: 50%;
}
#block-opknappertje-hero-block-campaign-top5 li .username {
  margin-top: 5px;
}
#block-opknappertje-hero-block-campaign-top5 li .vote-count {
  font-size: 1.1em;
  margin-top: 10px;
  font-size: 1.5em;
}


#block-views-contribution-latest .block-title {
  margin: 2em 0 1em;
}
