.block-opknappertje {
  padding: 3em 0;
  text-align: center;
}
.block-opknappertje h1 {
  font-family: 'axure_handwritingregular';
  font-size: 5em;
  color: white;
  margin-bottom: .5em;
}
.block-opknappertje ul {
  width: 100%;
  display: block;
  text-align: center;
}
.block-opknappertje ul li {
  display: inline-block;
  margin: 1em;
}

.block-title {
  text-align: center;
}

#block-views-contribution-top-5 {
  background: white;
}
#block-views-contribution-top-5 .block-title {
  background: url('../img/dark-grungewall.png');
  padding: .5em 0;
  text-align: center;
  margin: 0;
}

#block-views-contribution-top-5 .views-row {
  border-bottom: 2px dashed black;
}
#block-views-contribution-top-5 .views-row:after {
  content: '';
  display: block;
  clear: both;
}
#block-views-contribution-top-5 .views-row a {
  display: table;
  width: 100%;
  color: black;
  padding: .5em;
  font-family: 'axure_handwritingregular';
}
#block-views-contribution-top-5 .views-row a:hover {
  text-decoration: none;
  background-color: #F2F2F2;
}
#block-views-contribution-top-5 .views-row img {
  width: 100%;
  height: auto;
}
#block-views-contribution-top-5 .views-row .image {
  display: table-cell;
  vertical-align: middle;
  width: 65px;
}
#block-views-contribution-top-5 .views-row .author {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.5em;
  width: auto;
  padding-left: 10px;
}
#block-views-contribution-top-5 .views-row .votes {
  display: table-cell;
  vertical-align: middle;
  padding-left: 35px;
  width: 75px;
  font-size: 2em;
  font-weight: bold;
  position: relative;
}
#block-views-contribution-top-5 .views-row .votes:before {
  content: '';
  float: left;
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url(../img/vote-heart-small.png);
  background-repeat: no-repeat;
  background-position: center center;
}
