.btn-red,
.region-header .flag {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  font-family: 'nilland-blackregular';
  display: block;
  padding: .8em 2em;
  color: white;
  border: 1px solid #f10022;
  background: #f10022;
  border-radius: 4px;
  font-size: 1.1em;
  -webkit-transition: .2s background ease;
  background: -webkit-linear-gradient(#f10022, #c7001c);
  background: -o-linear-gradient(#f10022, #c7001c);
  background: -moz-linear-gradient(#f10022, #c7001c);
  background: linear-gradient(#f10022, #c7001c);
}
.region-header .unflag-action {
  border-color: #333;
  background: -webkit-linear-gradient(#333, #000);
  background: -o-linear-gradient(#333, #000);
  background: -moz-linear-gradient(#333, #000);
  background: linear-gradient(#333, #000);
}
.region-header .flag-action:before {
  float: left;
  margin-right: 10px;
  font-family: 'Glyphicons Halflings';
  content: "\e013";
  display: block;
}
.region-header .unflag-action:before {
  float: left;
  margin-right: 10px;
  font-family: 'Glyphicons Halflings';
  content: "\e014";
  display: block;
}
.btn-red:hover,
.btn-red.active,
.region-header .flag:hover,
.region-header .flag:active {
  border: 1px solid #f10022;
  text-decoration: none;
  color: white;
  background: -webkit-linear-gradient(#f10022, #f10022);
  background: -o-linear-gradient(#f10022, #f10022);
  background: -moz-linear-gradient(#f10022, #f10022);
  background: linear-gradient(#f10022, #f10022);
}
.region-header .unflag-action:hover {
  border-color: #333;
  background: -webkit-linear-gradient(#333, #333);
  background: -o-linear-gradient(#333, #333);
  background: -moz-linear-gradient(#333, #333);
  background: linear-gradient(#333, #333);
}




.btn-green {
  min-width: 260px;
  font-size: 1em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  font-family: 'nilland-blackregular';
  display: inline-block;
  padding: .8em 2em;
  color: rgba(0, 0, 0, 0.7);
  border: 1px solid #c8e443;
  background: #92ad0e;
  border-radius: 4px;
  background: -webkit-linear-gradient(#c8e443, #92ad0e);
  background: -o-linear-gradient(#c8e443, #92ad0e);
  background: -moz-linear-gradient(#c8e443, #92ad0e);
  background: linear-gradient(#c8e443, #92ad0e);
}
.btn-green:hover,
.btn-green:active {
  border: 1px solid #c8e443;
  text-decoration: none;
  background: -webkit-linear-gradient(#c8e443, #c8e443);
  background: -o-linear-gradient(#c8e443, #c8e443);
  background: -moz-linear-gradient(#c8e443, #c8e443);
  background: linear-gradient(#c8e443, #c8e443);
}





.hybridauth-widget a {
  min-width: 260px;
  font-size: 1.1em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  font-family: 'nilland-blackregular';
  display: inline-block;
  padding: .8em 2em !important;
  color: white;
  border-radius: 4px;
  background: -o-linear-gradient(#168eea, #137dcf);
  background: -moz-linear-gradient(#168eea, #137dcf);
  background: -webkit-linear-gradient(#168eea, #137dcf);
  background: linear-gradient(#168eea, #137dcf);
  border: 1px solid #168eea;
}
.hybridauth-widget a .hybridauth-icon {
  display: none;
}
.hybridauth-widget a:before {
  float: left;
  margin-right: 10px;
  font-family: 'Glyphicons Halflings';
  content: "\e066";
  display: inline-block;
}
.hybridauth-widget a:after {
  content: 'Inloggen via Facebook';
  display: inline-block;
}




.btn-facebook {
  color: white;
  min-width: 260px;
  font-size: 1.1em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  font-family: 'nilland-blackregular';
  display: inline-block;
  padding: .8em 2em !important;
  color: white;
  border-radius: 4px;
  background: -o-linear-gradient(#168eea, #137dcf);
  background: -moz-linear-gradient(#168eea, #137dcf);
  background: -webkit-linear-gradient(#168eea, #137dcf);
  background: linear-gradient(#168eea, #137dcf);
  border: 1px solid #168eea;
}

.hybridauth-widget a:hover,
.btn-facebook:hover {
  color: white;
  border: 1px solid #168eea;
  text-decoration: none;
  background: -o-linear-gradient(#168eea, #168eea);
  background: -moz-linear-gradient(#168eea, #168eea);
  background: -webkit-linear-gradient(#168eea, #168eea);
  background: linear-gradient(#168eea, #168eea);
}
.btn-facebook:before {
  float: left;
  margin-right: 10px;
  font-family: 'Glyphicons Halflings';
  content: "\e066";
  display: block;
}
