.view-contribution.view-display-id-latest:after,
.view-contribution.view-display-id-page:after {
  content: '';
  display: block;
  clear: both;
}
.view-contribution.view-display-id-latest .contribution,
.view-contribution.view-display-id-page .contribution {
  margin-bottom: 30px;
}
.view-contribution.view-display-id-latest .contribution .wrapper,
.view-contribution.view-display-id-page .contribution .wrapper {
  position: relative;
  width: 100%;
  padding: 15px;
  background: #fff;
  text-align: center;
}
.view-contribution.view-display-id-latest .contribution .wrapper:after,
.view-contribution.view-display-id-page .contribution .wrapper:after {
  clear: both;
  content: '';
  display: block;
}
.view-contribution.view-display-id-latest .contribution .wrapper  .picture,
.view-contribution.view-display-id-page .contribution .wrapper  .picture {
  width: 100%;
  height: 220px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
.view-contribution.view-display-id-latest .contribution .wrapper  .picture:hover .vote-count,
.view-contribution.view-display-id-page .contribution .wrapper  .picture:hover .vote-count {
  background: rgba(255,255,255,0.5);
}
.view-contribution.view-display-id-latest .contribution .wrapper  .vote-count,
.view-contribution.view-display-id-page .contribution .wrapper  .vote-count {
  position: absolute;
  width: 100%;
  height: 100%;
}
.view-contribution.view-display-id-latest .contribution .wrapper  .vote-count a,
.view-contribution.view-display-id-page .contribution .wrapper  .vote-count a {
  display: block;
  padding: 70px 0 130px;
  background: url("../img/vote-heart-small.png") center center no-repeat;
  color: black;
  font-size: 18px;
  font-family: 'axure_handwritingregular';
}
.view-contribution.view-display-id-latest .contribution .wrapper  .vote-count a:hover,
.view-contribution.view-display-id-page .contribution .wrapper  .vote-count a:hover {
  text-decoration: none;
}
.view-contribution.view-display-id-latest .contribution .wrapper  .username,
.view-contribution.view-display-id-page .contribution .wrapper  .username {
  font-size: 1.5em;
  color: #000;
  font-family: 'axure_handwritingregular';
  padding: 10px 0 0;
}
.view-contribution.view-display-id-latest .contribution .wrapper  .location,
.view-contribution.view-display-id-page .contribution .wrapper  .location {

}
