.view-contribution:after {
  content: '';
  display: block;
  clear: both;
}
.contribution {
  margin-bottom: 30px;
}

.contribution a {
  display: block;
  position: relative;
  width: 100%;
  padding: 15px;
  background: #fff;
  transition: .1s transform ease;
}
.contribution a:hover {
  text-decoration: none;
  transform: scale(1.05);
}
.contribution a:after {
  clear: both;
  content: '';
  display: block;
}

.contribution .picture {
  width: 100%;
  height: 220px;
  margin-bottom: 15px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.contribution .username {
  font-size: 1.5em;
  color: black;
  font-family: 'axure_handwritingregular';
  padding: 10px 0 0;
}
.contribution .location {
  font-family: 'nillandregular';
  color: black;
}
.contribution .vote-count {
  float: right;
  margin: 5px 0;
  padding: 5px 15px 5px 35px;
  background: url("../img/vote-heart-small.png") left center no-repeat;
  color: black;
  font-size: 18px;
  font-family: 'axure_handwritingregular';
}
