#page-header {
  position: relative;
  z-index: 10;
  min-height: 200px;
}

.main-container {
  border-top: 10px solid rgba(255, 255, 255, 0.7);
  border-bottom: 10px solid rgba(255, 255, 255, 0.7);
  background: url('../img/section.png');
}

.region-content {
  background: rgba(255,255,255,0.8);
  padding: 1em;
}

.region-content p {
  color: black;
}

.tabs--primary.nav-tabs {
  display: none;
}

#user-login .hybridauth-widget-wrapper h3,
#user-login .hybridauth-widget-wrapper .hybridauth-widget,
#user-login .hybridauth-widget-wrapper,
#user-login .form-actions {
  display: inline-block;
  margin-right: 15px;
}
