#navbar {
  padding-top: 25px;
  margin-bottom: 0;
}
.navbar {
  background: transparent;
  border: 0;
}
.navbar-nav {
  margin-top: 15px;
}
.navbar-nav > li {
  margin: 0 5px;
}
.navbar-nav > li > a {
  color: white !important;
  font-family: 'axure_handwritingregular';
  padding: .5em 1em;
}
.navbar-nav > li.active > a {
  background: transparent !important;
  border: 2px solid white;
  border-radius: 5px;
}
.navbar-nav.secondary {
  float: right;
}
