
body {
    font-family: 'Georgia';
    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4 {
  font-family: 'nilland-blackregular';
}
h1 {
  font-size: 3em;
}
h1.page-header {
  text-align: center;
  color: black;
  text-shadow: none;
}
h2.block-title {
  color: white;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
}
p {
  font-family: Georgia;
  color: white;
}
