.view-filters {
  display: block;
  width: 100%;
}
.view-content {
  clear: both;
}

.views-exposed-form {
  margin-bottom: 1em;
  text-align: right;
  float: right;
}
.views-exposed-form label {
  display: inline-block;
  font-weight: 700;
  margin: 0 0 15px;
  color: #fff;
  font-family: 'axure_handwritingregular';
}
.views-exposed-form select {
  display: inline-block;
  position: relative;
  width: 100px;
  padding: .8em 1em;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  font-family: 'latoregular';
  border: 0;
  background: linear-gradient(#f10022, #c7001c);
}
.views-exposed-form select:hover {
  background: linear-gradient(#f10022, #f10022);
}
