.view-filters {
  display: block;
  width: 100%;
}
.view-content {
  clear: both;
}

.views-exposed-form {
  margin-bottom: 1em;
  text-align: right;
  float: right;
}
.views-exposed-form label {
  display: inline-block;
  font-weight: 700;
  margin: 0 15px;
  color: #fff;
  font-size: 1.1em;
  font-family: 'axure_handwritingregular';
}
.views-exposed-form select {
  font-size: 1.1em;
  display: inline-block;
  width: auto;
  min-width: 140px;
  padding: .8em 1em;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  font-family: 'axure_handwritingregular';
  border: 1px solid #f10022;
  background: -webkit-linear-gradient(#f10022, #c7001c);
  background: -o-linear-gradient(#f10022, #c7001c);
  background: -moz-linear-gradient(#f10022, #c7001c);
  background: linear-gradient(#f10022, #c7001c);
}
.views-exposed-form select:hover {
  border: 1px solid #f10022;
  text-decoration: none;
  background: -webkit-linear-gradient(#f10022, #f10022);
  background: -o-linear-gradient(#f10022, #f10022);
  background: -moz-linear-gradient(#f10022, #f10022);
  background: linear-gradient(#f10022, #f10022);
}
