#block-opknappertje-hero-block-campaign-countdown {

  .block-title {
    background: url(../img/dark-grungewall.png);
    padding: .5em 0;
    text-align: center;
    margin: 0;
  }

  .count-title {
    display: block;
    margin-bottom: 15px;
    font-size: 1em;
    color: #1a1a1a;
    text-transform: uppercase;
  }

  // Countdown
  .countdown-days,
  .countdown {
    background: white;
    padding: 25px 5px;
    width: 100%;
    margin: 0;

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

    .bloc-time {
      float: left;
      margin-right: 15px;
      text-align: center;

      &:last-child {
        margin-right: 0;
      }
    }

    .figure {
      position: relative;
      float: left;
      height: 55px;
      width: 50px;
      margin-right: 5px;
      background-color: black;
      border-radius: 8px;
      @include box-shadow(0 3px 4px 0 rgba(0, 0, 0, .2),inset 2px 4px 0 0 rgba(255, 255, 255, .08));

      &:last-child {
        margin-right: 0;
      }

      >span {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        font: normal 2.5em/50px 'Arial Black';
        font-weight: 700;
        color: white;
      }

      .top, .bottom-back {
        &:after {
          content: "";
          position: absolute;
          z-index: -1;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          border-bottom: 1px solid rgba(0, 0, 0, .1);
        }
      }

      .top {
        z-index: 3;
        background-color: black;
        transform-origin: 50% 100%;
        -webkit-transform-origin: 50% 100%;
        @include border-top-radius(10px);
        @include transform(perspective(200px));
      }

      .bottom {
        z-index: 1;

        &:before {
          content: "";
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          width: 100%;
          height: 50%;
          background-color: rgba(0, 0, 0, .02);
        }
      }

      .bottom-back {
        z-index: 2;
        top: 0;
        height: 50%;
        overflow: hidden;
        background-color: black;
        @include border-top-radius(10px);

        span {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          margin: auto;
        }
      }

      .top, .top-back {
        height: 50%;
        overflow: hidden;
        @include backface-visibility(hidden);
      }

      .top-back {
        z-index: 4;
        bottom: 0;
        background-color: black;
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        @include transform(perspective(200px) rotateX(180deg));
        @include border-bottom-radius(10px);

        span {
          position: absolute;
          top: -100%;
          left: 0;
          right: 0;
          margin: auto;
        }
      }
    }

}

#edit-locale {
  display: none;
}
#block-views-votes-vote-users {
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 2em 0;
}
#block-views-votes-vote-users .views-row {
  display: inline-block;
  margin: 5px;
  position: relative;
}
#block-views-votes-vote-users img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 5px solid white;
  box-shadow: 0 0 15px rgba(0,0,0,0.75);
  transition: .2s transform ease;
}
#block-views-votes-vote-users img:hover {
  transform: scale(1.1);
}
#block-views-votes-vote-users .views-field-picture:hover + .views-field-field-first-name {
  display: block;
}
#block-views-votes-vote-users .views-field-field-first-name {
  z-index: 2;
  min-width: 100%;
  text-align: center;
  border-radius: 3px;
  position: absolute;
  top: -40px;
  background: white;
  padding: 5px 10px;
  color: black;
  display: none;
  font-family: 'axure_handwritingregular';
}
.block-opknappertje {
  padding: 3em 0;
  text-align: center;
}
.block-opknappertje h1 {
  font-family: 'axure_handwritingregular';
  color: white;
  margin-bottom: .5em;
  font-size: 3em;

  @include MQ($small) {
    font-size: 5em;
  }
}
.block-opknappertje h2 {
  color: white;
}
.block-opknappertje h1 small{
  font-size: 23px;
  color: white;
}
.block-opknappertje ul {
  width: 100%;
  display: block;
  text-align: center;
  padding: 0;
}
.block-opknappertje ul li {
  display: inline-flex;
  margin: 1em;
}
.block-opknappertje .image {
  margin-top: 100px;

}
.block-opknappertje .image img {
  max-width: 100%;
  box-shadow: 0 0 50px rgba(0,0,0,0.5);
  border: 10px solid white;

  @include MQ($small) {
      border: 20px solid white;
  }
}

.block-title {
  text-align: center;
}

#block-opknappertje-hero-block-campaign-top5 {
  background: white;
  padding: 0;
}
#block-opknappertje-hero-block-campaign-top5 .block-title {
  background: url('../img/dark-grungewall.png');
  padding: .5em 0;
  text-align: center;
  margin: 0;
}
#block-opknappertje-hero-block-campaign-top5 ul {
  margin: 0;
}
#block-opknappertje-hero-block-campaign-top5 li {
  border-bottom: 2px dashed #F2F2F2;
  display: block;
  margin: 0;
  text-align: left;
}
#block-opknappertje-hero-block-campaign-top5 li:after {
  content: '';
  display: block;
  clear: both;
}
#block-opknappertje-hero-block-campaign-top5 li a {
  display: block;
  width: 100%;
  color: black;
  padding: .5em;
  font-family: 'axure_handwritingregular';
  margin-bottom: 0;
}
#block-opknappertje-hero-block-campaign-top5 li a:after {
  clear: both;
  content: '';
  display: block;
}
#block-opknappertje-hero-block-campaign-top5 li a:hover {
  text-decoration: none;
  background-color: #F2F2F2;
}
#block-opknappertje-hero-block-campaign-top5 li .picture {
  width: 65px;
  height: auto;
  float: left;
  margin: 0 15px 0 0;
}
#block-opknappertje-hero-block-campaign-top5 li .picture img {
  border-radius: 50%;
}
#block-opknappertje-hero-block-campaign-top5 li .username {
  margin-top: 5px;
}
#block-opknappertje-hero-block-campaign-top5 li .vote-count {
  font-size: 1.1em;
  margin-top: 10px;
  font-size: 1.5em;
}


#block-views-contribution-latest .block-title {
  margin: 2em 0 1em;
}


#block-opknappertje-facebook-comments-content .fb-comments {
  margin-top: 1em;

  iframe {
    background: white;
  }
}
