@font-face {
    font-family: 'axure_handwritingregular';
    src: url('../fonts/axurehandwriting-webfont.eot');
    src: url('../fonts/axurehandwriting-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/axurehandwriting-webfont.woff') format('woff'),
         url('../fonts/axurehandwriting-webfont.ttf') format('truetype'),
         url('../fonts/axurehandwriting-webfont.svg#axure_handwritingregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latoblack';
    src: url('../fonts/lato-black-webfont.eot');
    src: url('../fonts/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-black-webfont.woff') format('woff'),
         url('../fonts/lato-black-webfont.ttf') format('truetype'),
         url('../fonts/lato-black-webfont.svg#latoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nilland-blackregular';
    src: url('../fonts/nilland-black-webfont.eot');
    src: url('../fonts/nilland-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nilland-black-webfont.woff') format('woff'),
         url('../fonts/nilland-black-webfont.ttf') format('truetype'),
         url('../fonts/nilland-black-webfont.svg#nilland-blackregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nillandregular';
    src: url('../fonts/nilland-webfont.eot');
    src: url('../fonts/nilland-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nilland-webfont.woff') format('woff'),
         url('../fonts/nilland-webfont.ttf') format('truetype'),
         url('../fonts/nilland-webfont.svg#nillandregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
