.footer {
  bottom: 0;
  background: url(../img/dark-grungewall.png);
  border: 0;
  padding: 1em 0;
  margin-top: 750px;
}
.footer ul {
  margin: 0;
  padding: 0;
  float: right;
}
.footer li {
  display: inline-block;
}
.footer li a {
  color: gray;
}
.footer li a:hover {
  color: gray;
  text-decoration: underline;
  background: transparent;
}
