body:not(.page-node-add):not(.page-campagnes) #page-header {
  position: relative;
  z-index: 10;
  min-height: 470px;
  background: url(../img/bg-header-default.png) no-repeat;
  background-position: center top;
  background-size: auto 470px;
  margin-top: 70px;
}

.main-container {
  padding: 1em 0;
}

.hybridauth-widget-wrapper,
.region-content {
  background: white;
  padding: 1em;
}
.region-content p {
  color: black;
}

.tabs--primary.nav-tabs {
  display: none;
}

#user-login .hybridauth-widget-wrapper h3,
#user-login .hybridauth-widget-wrapper .hybridauth-widget,
#user-login .hybridauth-widget-wrapper,
#user-login .form-actions {
  display: inline-block;
  margin-right: 15px;
}
