

#navbar {
  margin-bottom: 0;
}
.navbar {
  border: 0;
  padding: 5px 0 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.75);
}
.navbar-inverse {
  background-color: transparent;
  background: url('../img/dark-grungewall.png');
}
.navbar-header .logo img{
  margin-top: 5px;
  margin-left: 10px;
  height: 40px;
}
.not-logged-in .navbar-nav{
  margin-top: 20px;
}
body.toolbar .navbar-fixed-top {
  top: 30px !important;
}
.navbar-inverse .navbar-toggle {
  margin-top: 18px;
  background: transparent;
  border-color: transparent;

  &:hover {
    background: transparent;
  }
}
.navbar-nav {
  margin: 0;
  @include MQ($small) {
    float: right !important;
    clear: right;
    text-align: center;
  }
}
.navbar-nav > li {
  margin: 0 5px;
  width: auto;
}
.navbar-nav > li > a {
  color: white !important;
  font-family: 'axure_handwritingregular';
  padding: .3em .8em !important;
}
.navbar-nav > li.active > a {
  background: transparent !important;
  border: 2px solid white;
  border-radius: 5px;
}
.navbar-nav.secondary {
  margin-top: 0;
  float: right;
}
.navbar-nav.secondary > li > a {
  font-size: .8em;
  color: #9d9d9d !important;
}
.navbar-nav.secondary > li > a:hover {
  color: white;
}
.navbar-nav.secondary li:first-child a:before {
  content: "\e008";
  display: inline;
  font-family: 'Glyphicons Halflings';
  margin-right: 5px;
}
.navbar-nav.secondary li:last-child a:before {
  content: "\e163";
  display: inline;
  font-family: 'Glyphicons Halflings';
  margin-right: 5px;
}
