- var pagetype = "styleguide"
- var page = "Open Social"

doctype html
html(lang="en")
  head
    include ./layout/_head.jade
  body(class='#{pagetype}')
    header.styleguide-header
      include ./layout/_navbar.jade
      
    main.styleguide-container(role='main')

      #index-banner.section
        .container
          .center
            p
              :markdown
                **A modern responsive Drupal theme.**
                This theme is built upon [Drupal bootstrap](https://www.drupal.org/project/bootstrap).
  
    include ./layout/_scripts.jade
    
    footer.styleguide-footer.brand-secondary
      .repo-link
        .container
          .row
            .col-xs-12
              .commit
                span.hidden-mobile Latest commit on Bitbucket by &nbsp; &nbsp; 
                a.sha.hidden-mobile(href='')
                span.hidden-mobile -&nbsp;
                span.date.hidden-mobile
                a#github-button.btn.btn-flat.pull-right.waves-effect.waves-light(href='https://bitbucket.com/peterpolman/OPK') View repository
      .container
        .row
          .col-xs-12.col-sm-8
            h5.white-text Contribute
            p Content
            p 
              a.btn.btn-default(href='#') Read more
            
          .col-xs-12.col-sm-3.col-sm-push-1
            h5.white-text Connect
            ul
              li
                a.white-text(href='#') item
              li
                a.white-text(href='#') item
              li
                a.white-text(href='#') item
      .footer-copyright
        .container 
          a(href='http://www.peterpolman.nl') 
