body{
	background: #6d401a url('../img/body.png') repeat left top;
	font-size: 12px;
	margin: 0;
	padding: 0;
	font-family: 'latoregular';
	font-weight: normal;
	font-size: 14px;
	min-width: 100%;
}
h1{
	font-family: 'latoblack';
	text-shadow: 0 0 35px #000;
}
h2{
	font-family: 'nilland-blackregular';
	font-weight: normal;
}
h3{
	font-family: 'nilland-blackregular';
	font-weight: normal;
}
p{
	font-size: 14px;
	line-height: 21px;
}
a img{
	border: 0;
}
a{
	color: #f40000;
}
#header .vote{
	padding: 25px;
	background: #FFFFFF;
	border-radius: 15px;
	background: rgba(0,0,0,0.5);
	width: 450px;
	margin: 25px auto;
	text-align: center !important;
}
#header .button{
	width: 450px !important;
	display: block;
	margin: 0 auto;
	text-shadow: none;
}
#header .vote small{
	margin: 10px 0;
	font-size: 10px !important;
	color: #aaaaaa;
	font-family: Arial !important;
}
a:hover{
	text-decoration: none;
}
#page_top{
	width: 960px;
	margin: 0 auto;
}
#logo{
	float: left;
	background: #FFFFFF;
	padding: 30px 10px;
}
#logo figure{
	margin: 0;
}
#page_top .social{
	position: absolute;
	margin-left: 600px;
	z-index: 999;
	padding: 45px 0 0 0;
}
#navigation{
	position: relative;
	z-index: 999;
	float: right;
	padding: 100px 0 0 0;
}
#navigation ul.menu{
	list-style: none;

}
#navigation ul.menu li{
	float: left;
	margin: 0 10px;
}
#navigation ul.menu li a{
	font-family: 'latoregular';
	font-size: 18px;
	text-transform: uppercase;
	color: #FFFFFF;
	text-decoration: none;
}
#navigation ul.menu li a:hover{
	color: #212121;
	background: #FFFFFF;
}
#navigation ul.menu li a.active{
	border-bottom: 3px solid #FFF;
}
#header{
	width: 960px;
	margin: 0 auto;
	clear: both;
}
#header{
	color: #FFFFFF;
	min-height: 250px;
}
#header h1{
	padding: 75px 0 35px;
	text-align: center;
	text-transform: uppercase;
	opacity: 0;
}
#header h1 small{
	font-family: 'Short Stack', cursive;
	font-size: 28px;
	font-weight: normal;
	display: block;
}
#header h1 span{
	font-size: 75px;
	font-weight: normal;
	display: block;
}
#header .cta{
	width: 100%;
	padding: 0px 0px 65px;
	text-align: center;
}
#header .cta a{
	display: inline-block;
	width: 200px !important;
	margin: 5px;
}
#header .col1{
	width: 350px;
	display: inline-block;
}
#header .col1 button{
	float: right;
}
#header .col2{
	width: 350px;
	display: inline-block;
}
#header .col2 .button{
	float: left;
	padding: 10px 30px;
	color: #FFFFFF;
	text-align: left;
	font-size: 14px;
	box-shadow: 0 0 3px #000;
	margin: 25px 0;
}
#content{
	background: url('../img/section.png') top center repeat;
	padding: 15px 0;
	box-shadow: 0px 0px 30px #000;
	width: 100%;
}
#content .wrapper{
	margin: 15px auto;
	width: 960px;
	background: url('../img/bg-wrapper.png') top center repeat;
	min-height: 350px;
}
#content .wrapper .content{
	margin: 15px;
	padding: 15px 0;
}
#content .wrapper .content table {
	font-weight: normal;
}
#content .wrapper .content table input[type="text"]{
	width: 300px;
	font-size: 14px;
	font-family: Courier;
	margin-bottom: 5px;
	padding: 10px;
	color: #666666;
	background: #FFFFFF;
	border: 1px solid #BEB1B0;
	border-radius: 3px;
	box-shadow: inset 2px 2px 5px #E3E0DF;
	-moz-box-shadow: inset 2px 2px 5px #E3E0DF;
	-webkit-box-shadow: inset 2px 2px 5px #E3E0DF;
}
#content .wrapper .content p input[type="checkbox"]{
	width: 20px;
	margin: 0;
	padding: 0;
	display: block;
	float: left;
}
#content .wrapper .content .eersteprijs{
	float: left;
	position: relative;
	width: 220px;
	z-index: 0;
	margin-left: -50px;
	margin-top: -75px;
}
#content .wrapper .content .troostprijs{
	position: relative;
	width: 200px;
	float: right;
}
#content .wrapper .content .main{
	width: 70%;
	float: left;
}
#content .wrapper .content .col{
	width: 45%;
	float: left;
}
#content .wrapper .content .col.first{
	margin-right: 20px;
}
#content .wrapper .content .col h2{
	font-family: "latoblack";
	font-weight: normal;
	font-size: 32px;
	text-transform: uppercase;
}
#content .wrapper .content .sidebar{
	width: 28%;
	float: right;
}
#content .wrapper .content .sidebar h2{
	background: #333333;
	padding: 6px 10px;
	font-size: 20px;
	margin: 13px 0;
	font-family: 'latoblack';
	font-weight: normal;
	text-transform: uppercase;
	color: #FFFFFF;
}
#content .wrapper .content .sidebar .toppers{
	padding: 0;
	margin: 0;
	list-style: none;
}
#content .wrapper .content .sidebar .toppers li{
	padding: 7px 5px;
	background: #FFFFFF;
	border-bottom: 1px dashed #ccc;
	margin: 0;
	list-style: none;
}
#content .wrapper .content .sidebar .toppers li:hover{
	background-color: #f40000;
}
#content .wrapper .content .sidebar .toppers li:hover a{
	color: #FFFFFF;
}
#content .wrapper .content .sidebar .toppers li a{
	font-family: 'latoblack';
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	font-size: 13px;
	line-height: 35px;
}
#content .wrapper .content .sidebar .toppers li img{
	float: left;
	margin-right: 10px;
}

#content .wrapper .content .col textarea{
	width: 430px;
	height: 100px;
	padding: 10px;
	margin: 5px 0;
	font-size: 14px;
	font-family: Courier;
	color: #666666;
	background: #FFFFFF;
	border: 1px solid #BEB1B0;
	border-radius: 3px;
	box-shadow: inset 2px 2px 5px #E3E0DF;
	-moz-box-shadow: inset 2px 2px 5px #E3E0DF;
	-webkit-box-shadow: inset 2px 2px 5px #E3E0DF;
}
#content .wrapper .content .image{
	display: block;
	position: relative;
	z-index: 0;
}
#content .wrapper .content .hover{
	display: none;
	background: url('../img/hover-bg.png') top left repeat;
	z-index: 99;
	position: absolute;
	width: 930px;
	padding: 143px 0;
	margin-top: -503px;
}
#content .wrapper .content .hover .votes{
	background-image: url('../img/hover-bg.png');
	width: 220px;
	padding: 25px 20px 45px;
	margin: 0 auto;
	text-align: center;
}
#content .wrapper .content .hover .votes h2{
	font-size: 20px;
	font-family: 'latoblack';
	text-transform: uppercase;
	color: #FFFFFF;
}
#content .wrapper .content .hover .votes span{
	font-size: 125px;
	color: #FFFFFF;
	font-family: "latoblack";
	font-weight: normal;
}
#content .wrapper .content .hover .votes input{
	padding: 5px 0px;
}

#content .wrapper .content .hover .votes button{
	width: 210px;
	text-align: center;
}
#content .wrapper .content .url p {

	text-align: center;
}
#content .wrapper .content .url p a{
	background: #95b011;
	padding: 7px 0;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: lowercase;
	display: block;
	font-family: 'latoregular';
	font-size: 14px;
}
#content .wrapper .content .url p a:hover{
	background: #DD1111;
}

#flash {
	border: 2px solid #FF5555;
	width: 960px;

	border-right: 2px solid #DD1111;
	border-bottom: 2px solid #DD1111;
	border-radius: 5px;
	background: #FFFFFF;
	margin: 20px auto;
	padding: 10px;
	font-size: 16px;
	font-family: "latoregular";
}
#flash.flashsuccess {
	border: 2px solid #55FF55;
	border-right: 2px solid #11DD11;
	border-bottom: 2px solid #11DD11;
}

button, .button{
	background-color: #cae544;
	border: 1px solid #92ad0e;
	text-decoration: none;
	color: #333333;
	font-size: 14px;
	font-family: 'latoregular';
	text-transform: uppercase;
	padding: 10px 15px;
	margin: 0 2px;

	-moz-box-shadow: 0 2px 3px #000;
	-webkit-box-shadow: 0 2px 3px #000;
	box-shadow: 0 2px 3px #000;

	background: url('../img/green-bg.png') repeat-x;
}
button:hover, .button:hover{
	cursor: pointer;
	background: #92ad0e;

	-moz-box-shadow: 0 0px 3px #000
	-webkit-box-shadow: 0 0px 3px #000;
	box-shadow: 0 0px 3px #000;
}
button.active{
	background: #f40000;
}
#latest_posts{
	width: 960px;
	margin: 0px auto;
	margin-top: 50px;
}
#latest_posts h1{
	font-family: 'Short Stack', cursive;
	font-size: 23px;
	color: #FFFFFF;
	margin: 25px 0;
	text-align: center;
	text-transform: uppercase;
}
#latest_posts h2{
	font-family: "latoblack";
	text-shadow: 0 0 15px #000;
	color: #FFFFFF;
	float: left;
	font-size: 28px;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
}
#latest_posts h2 span{
	color: #95b011;
}
#latest_posts .sort{
	float: right;
	width: 540px;
}
#latest_posts .sort h2{
	font-family: 'Short Stack';
	margin: 10px 20px;
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
}
#latest_posts .sort button {
	text-align: left !important;
	padding: 10px 7px;
	width: 	120px;
	color: #FFFFFF;
}
#latest_posts .sort .sort_up {
	border: 1px solid #ff0e00;
	background: url('../img/red-bg.png') repeat-x;
}
#latest_posts .sort .sort_down {
	border: 1px solid #ff0e00;
	background: url('../img/red-bg.png') repeat-x;
}
#latest_posts .sort .sort_up span {
	display: block;
	background-image: url('../img/sort_up.png');
	background-repeat: no-repeat;
	background-position: 85px 0px;
}
#latest_posts .sort .sort_down span {
	display: block;
	background-image: url('../img/sort_down.png');
	background-repeat: no-repeat;
	background-position: 85px 0px;
}
#latest_posts ul.posts{
	clear: both;
	width: 100%;
	margin: 0px;
	padding: 15px 0px;
	min-height: 250px;
	list-style: none;
}
#latest_posts ul.posts li{
	float: left;
	margin: 5px 9px;
	padding: 0;
	list-style-type: none;
}
#latest_posts ul.posts li a{
	color: #212121;
	text-decoration: none;
	display: block;
	width: 219px;
	height: 259px;
}


#latest_posts ul.posts li a .default{
	background: #FFFFFF;
	padding: 7px;
	display: block;
	position: absolute;
	width: 205px;
	height: 245px;
}
#latest_posts ul.posts li a .default figure{
	margin: 0;
}
#latest_posts ul.posts li a .default figure img{
	width: 205px;
	height: 190px;
}
#latest_posts ul.posts li a .default figure figcaption{
	font-family: 'Short Stack';
	text-transform: uppercase;
	color: #333333;
	font-size: 16px;
	margin: 10px 0;
	text-align: center;
}
#latest_posts ul.posts li .fb-like{
	margin: 10px 0;
}

#latest_posts ul.posts li a h3{
	font-family: 'Short Stack', cursive;
	font-size: 16px;
	height: 42px;
	text-transform: uppercase;
	line-height: 21px;
	margin: 10px 0;
}
#latest_posts ul.posts li a .hover{
	display: none;
	position: absolute;
	background: #95b011;
	padding: 7px;
	width: 205px;
	height: 245px;
	color: #FFFFFF;
}
#latest_posts ul.posts li a .hover figure {
	width: 100%;
	background: #FFFFFF;
	margin: 10px 0;
}
#latest_posts ul.posts li a .hover figure img{
	width: 90px;
	margin: 5px;
}

#latest_posts ul.posts li a .hover figure figcaption{
	float: right;
	width: 90px;
	margin-right: 10px;
	text-align: center;
}
#latest_posts ul.posts li a .hover figure figcaption .votes{
	font-family: "latoblack";
	color: #ff0e00;
	padding-top: 25px;
	font-size: 50px;
	line-height: 25px;
	text-transform: uppercase;
}
#latest_posts ul.posts li a .hover figure figcaption .votes span{
	font-size: 14px;
	color: #000000;
}
#latest_posts ul.posts li a .hover .actions button, #content .wrapper .content .votes button{
	padding: 7px 10px;
	width: 100%;
	color: #FFFFFF;
	text-align: left;
	box-shadow: 0 0 3px #000;
	border: 1px solid #ff0e00;
	margin: 5px 0;
	background: #ff0e00;

	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e64432), to(#ff0e00)); /* Safari 4-5, Chrome 1-9 */
	background: -webkit-linear-gradient(top, #e64432, #ff0e00); /* Safari 5.1, Chrome 10+ */
	background: -moz-linear-gradient(top, #e64432, #ff0e00); /* Firefox 3.6+ */
	background: -ms-linear-gradient(top, #e64432, #ff0e00); /* IE 10 */
	background: -o-linear-gradient(top, #e64432, #ff0e00); /* Opera 11.10+ */
}
#latest_posts ul.posts li a .hover .actions button:hover, #content .wrapper .content .votes button:hover{
	cursor: pointer;
	background: #ff0e00;
}
button.active{
	background: #ff0e00;
}


#footer{
	margin-top: 100px;
	clear: both;
	width: 100%;
	background: #212121;
	height: 85px;
}
#footer .wrapper{
	width: 960px;
	margin: 0 auto;
}

#footer .copyright{
	float: left;
	width: 300px;
	margin: 10px 0;
	padding: 25px 0;
	font-family: 'latoregular';
	font-size: 12px;
	text-transform: uppercase;
	color: #cccccc;
}
#footer ul.menu{
	float: right;
	padding: 25px 0;
	margin: 10px 0;
	width: 300px;
	list-style: none;
}
#footer ul.menu li{
	display: inline-block;
	margin: 0 15px;
}
#footer a{
	font-family: 'latoregular';
	font-size: 12px;
	text-transform: uppercase;
	color: #cccccc;
	text-decoration: none;
}
#footer a:hover{
	color: #FFFFFF;
}
#footer ul li{
	display: inline-block;
	margin: 0 15px;
}


#latest_posts .more {
	clear: both;
	opacity: 0;
	background: #FFFFFF;
	text-align: center;
	margin: 0px 10px;
	padding: 5px 0;
}
#latest_posts .more a{
	font-family: 'axure_handwritingregular';
	font-size: 18px;
	font-style: italic;
	padding: 15px 0;
	display: block;
	text-decoration: none;
}
#latest_posts .more a:hover{
	background: #F0F0F0;
}
.voorwaarden p, .voorwaarden strong{
	font-size: 11px;
}
.voorwaarden{
	width: 100%;
	height: 200px;
	overflow: auto;

	font-size: 11px;
	font-family: Arial;
	margin-bottom: 5px;
	padding: 10px;
	color: #666666;
	background: #FFFFFF;
	border: 1px solid #BEB1B0;
	border-radius: 3px;
	box-shadow: inset 2px 2px 5px #E3E0DF;
	-moz-box-shadow: inset 2px 2px 5px #E3E0DF;
	-webkit-box-shadow: inset 2px 2px 5px #E3E0DF;
}
.clear{
	padding: 25px 0;
	clear: both;
	width: 100%;
	text-align: center;
}
.clear button{
	width: 350px;
}
#quicklinks .content{
	width: 960px;
	margin: 0 auto;
}
#quicklinks .content ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
#quicklinks .content ul li{
 	padding: 0;
 	display: inline-block;
 	margin: 0px 10px 0 0;
}
#quicklinks .content ul li a{
	opacity: 0.8;
	display: block;
	padding: 10px;
	background: #FFFFFF;
	border: 1px solid #cccccc;
}
#quicklinks .content ul li a img{
	width: 420px;
}
#quicklinks .content ul li a:hover{
	opacity: 1;

	-webkit-transition: all 0.2s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: all 0.2s ease-out;  /* Firefox 4-15 */
       -o-transition: all 0.2s ease-out;  /* Opera 10.50–12.00 */
          transition: all 0.2s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

#blob0,#blob1,#blob2,#blob3,#blob4,#blob5,#blob6,#blob7,#blob8,#blob9,#blob10,#blob11{
	position: absolute;
	opacity: 0;
}
@media all and (max-width: 1250px) {
	#blob0,#blob1,#blob2,#blob3,#blob4,#blob5,#blob6,#blob7,#blob8,#blob9,#blob10,#blob11 {
		display: none;
	}
}

#header h1{
	opacity: 0;


}
#header label{
	font-size: 12px;
}
#header input{
	padding: 7px 5px;
	width: 150px;
	border: 0;
	color: #333333;
}
#header button[type="submit"] {
	padding: 10px 0px;
	color: #FFFFFF;
	text-align: center;
	font-size: 14px;
	box-shadow: 0 0 3px #000;
	border: 1px solid #ff0e00;
	margin: 25px 0;
	background: #ff0e00;
	font-family: 'latoregular';
	width: 150px;

	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e64432), to(#ff0e00)); /* Safari 4-5, Chrome 1-9 */
	background: -webkit-linear-gradient(top, #e64432, #ff0e00); /* Safari 5.1, Chrome 10+ */
	background: -moz-linear-gradient(top, #e64432, #ff0e00); /* Firefox 3.6+ */
	background: -ms-linear-gradient(top, #e64432, #ff0e00); /* IE 10 */
	background: -o-linear-gradient(top, #e64432, #ff0e00); /* Opera 11.10+ */
}
#header button:hover{
	cursor: pointer;
	background: #ff0e00;
}
/*  Brood */
#blob4{ top: -50px; left: -150px;}
/*  Verf */
#blob6{ top: 150px; left: -150px}
/*  Stokbrood */
#blob10{ top: 650px; left: -150px}

/*  Sandwich */
#blob5{ top: 0px; right: -150px;}
/*  Papieren */
#blob7{ top: -50px; right: -150px; }
/*  Pannenkoeken */
#blob3{ top: 220px; right: -150px; }
/*  Stroop */
#blob9{ top: 550px; right: -150px; }
/*  Maaltijd */
#blob1{ top: 650px; right: -150px; }


/*  Glas */
#blob2{ top: 0px; }
/*  Sap */
#blob11{ top: 0px; }


nav select { display: none; }

.fileinput-button {
  	position: relative;
  	overflow: hidden;
  	float: left;
  	color: #FFFFFF;
	border: 1px solid #ff0e00;
	background: url('../img/red-bg.png') repeat-x;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	font-family: 'latoregular';
	text-transform: uppercase;
	padding: 10px 25px;
	margin: 0 auto;
	margin-top: 25px;
	margin-left: 100px;
	-moz-box-shadow: 0 2px 3px #333;
	-webkit-box-shadow: 0 2px 3px #333;
	box-shadow: 0 2px 3px #333;
}
.fileinput-button:hover{
	cursor: pointer;
	background: #ff0e00;
	-moz-box-shadow: 0 2px 3px #aaa;
	-webkit-box-shadow: 0 2px 3px #aaa;
	box-shadow: 0 2px 3px #aaa;
}
.fileinput-button input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	transform: translate(-300px, 0) scale(4);
	font-size: 23px;
	direction: ltr;
	cursor: pointer;
}
.prijzenenuitleg #header,.actiecode #header,.tips #header{
	padding-top: 35px;
	background: url('../img/herkentudit.png') 0px 35px no-repeat;
}
.prijzenenuitleg #header h1,.actiecode #header h1,.tips #header h1{
	padding-top: 310px;
}
@media only screen and (max-device-width: 480px) {
	#blob0,#blob1,#blob2,#blob3,#blob4,#blob5,#blob6,#blob7,#blob8,#blob9,#blob10,#blob11{
		display: none;
	}
	#content .wrapper .content .eersteprijs{
		margin-left: 0px;
		margin-top: 0px;
	}
	#content .wrapper .content .troostprijs{
		margin-right: 0px;
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){

	/* Styles */
	.keukens.doemee, .keukens.stap2{
		width: 320px;
		margin:0;
	}
	.keukens.doemee nav ul, .keukens.stap2 nav ul {
		display: none;
	}
	/*.keukens nav select {
		display: block;
	}*/

	#flash{
		width: 100%;
	}
	.keukens.doemee #page_top, .keukens.stap2 #page_top{
		width: 100%;
	}
	.keukens.doemee #logo , .keukens.stap2 #logo {
		padding: 10px 5px;
		float: left;
	}
	.keukens.doemee#logo img, .keukens.stap2#logo img{
		width: 75px;
	}
	.keukens.doemee #page_top .social, .keukens.stap2 #page_top .social{
		display: none;
	}
	.keukens.doemee #page_top nav, .keukens.stap2 #page_top nav{
		float: right;
		width: 100px;
		padding: 20px 0;
	}
	.keukens.doemee #page_top nav select, .keukens.stap2 #page_top nav select{
		width: 100px;
	}
	.keukens.doemee #header, .keukens.stap2 #header{
		width: 100%;
		min-height: 0;
	}
	.keukens.doemee #header .cta, .keukens.stap2 #header .cta{
		padding: 25px 0;
		max-width: 100%;
	}
	.keukens.doemee #header .cta img, .keukens.stap2 .cta img{
		width: 50%;
	}
	.keukens.doemee #header h1, .keukens.stap2 #header h1{
		display: none;
	}
	.keukens.doemee #article, .keukens.stap2 #article{
		width: 100%;
	}
	.keukens.doemee #content .wrapper, .keukens.stap2 #content .wrapper{
		margin: 15px auto;
		width: 100%;
		background: url('../img/bg-wrapper.png') top center repeat;
		min-height: 0;
	}
	.keukens.doemee #content .wrapper .col, .keukens.stap2 #content .wrapper .col{
		width: 100%;
		clear: both;
	}
	.keukens.doemee #latest_posts, .keukens.stap2 #latest_posts{
		display: none;
	}
	.keukens.doemee #footer, .keukens.stap2 #footer{
		max-width: 480px;
		width: 100%;
	}
	.keukens.doemee #footer .wrapper, .keukens.stap2 #footer .wrapper{
		max-width: 480px;
		width: 100%;
	}
	.keukens.doemee #footer .wrapper .copyright, .keukens.stap2 #footer .wrapper .copyright{
		max-width: 480px;
		width: 100px;
	}
	.keukens.doemee #footer .wrapper .menu, .keukens.stap2 #footer .wrapper .menu{
		width: 200px;
	}
	.keukens.doemee #content .wrapper .content .col input, .keukens.stap2 #content .wrapper .content .col input{
		width: 190px;
	}
	.keukens.doemee #content .wrapper .content .col .fileinput-button , .keukens.stap2 #content .wrapper .content .col .fileinput-button {
		width: 240px;
		margin: 0;
	}
	.keukens.doemee #content .wrapper .content .col textarea, .keukens.stap2 #content .wrapper .content .col textarea{
		width: 270px;
		height: 70px;
	}
	.keukens.doemee #content .wrapper .content .col .voorwaarden, .keukens.stap2 #content .wrapper .content .col .voorwaarden{
		width: 270px;
	}
	.keukens.doemee #content .wrapper .content button[type="submit"], .keukens.stap2 #content .wrapper .content button[type="submit"]{
		width: 100%;
		padding: 10px 0;
	}
}
.votes label {
	color: white;
	font-weight: bold;
	margin: 5px;

}
.votes input {
	width: 120px;
}
