
#latest_posts ul.posts li a .hover figure img{
	float: left;
	width: 90px;
	margin: 3px;
}
#latest_posts ul.posts li a .hover figure {
	height: 100px;
}
#latest_posts ul.posts li a .hover figure figcaption{
	float: right;
	width: 90px;
	height: 100px
}
#latest_posts ul.posts li a .hover figure figcaption .votes{
	line-height: 25px;
}