@import url('http://fonts.googleapis.com/css?family=Short+Stack');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700,900');
@import url('http://fonts.googleapis.com/css?family=Lato:400,700,900');

@font-face {
    font-family: 'axure_handwritingregular';
    src: url('fonts/axurehandwriting-webfont.eot');
    src: url('fonts/axurehandwriting-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/axurehandwriting-webfont.woff') format('woff'),
         url('fonts/axurehandwriting-webfont.ttf') format('truetype'),
         url('fonts/axurehandwriting-webfont.svg#axure_handwritingregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latoblack';
    src: url('fonts/lato-black-webfont.eot');
    src: url('fonts/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-black-webfont.woff') format('woff'),
         url('fonts/lato-black-webfont.ttf') format('truetype'),
         url('fonts/lato-black-webfont.svg#latoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latoregular';
    src: url('fonts/lato-regular-webfont.eot');
    src: url('fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-regular-webfont.woff') format('woff'),
         url('fonts/lato-regular-webfont.ttf') format('truetype'),
         url('fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nilland-blackregular';
    src: url('fonts/nilland-black-webfont.eot');
    src: url('fonts/nilland-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/nilland-black-webfont.woff') format('woff'),
         url('fonts/nilland-black-webfont.ttf') format('truetype'),
         url('fonts/nilland-black-webfont.svg#nilland-blackregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nillandregular';
    src: url('fonts/nilland-webfont.eot');
    src: url('fonts/nilland-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/nilland-webfont.woff') format('woff'),
         url('fonts/nilland-webfont.ttf') format('truetype'),
         url('fonts/nilland-webfont.svg#nillandregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* old
@font-face {
  font-family: 'axure_handwritingregular';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/axure_handwritingregular.eot?#iefix') format('embedded-opentype'), url('../fonts/axure_handwritingregular.woff') format('woff'), url('../fonts/axure_handwritingregular.ttf') format('truetype'), url('../fonts/axure_handwritingregular.svg#axure_handwritingregular') format('svg');
}
*/
body {
  font-family: 'nillandregular';
  font-size: 16px;
  background: url('../img/body.png') top center repeat;
}
.button {
  box-shadow: 0 0 25px rgba(0,0,0,0.5);
  font-family: 'nilland-blackregular';
  display: block;
  width: 200px;
  margin-bottom: 1em;
  padding: .8em 2em;
  color: rgba(0,0,0,0.7);
  border: 1px solid #c8e443;
  background: #92ad0e;
  background: -webkit-linear-gradient(#c8e443, #92ad0e); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#c8e443, #92ad0e); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#c8e443, #92ad0e); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#c8e443, #92ad0e); /* Standard syntax */

  &:hover {
    -webkit-transition: .2s background ease;
    text-decoration: none;
    color: rgba(0,0,0,0.7);
    background: -webkit-linear-gradient(#c8e443, #c8e443); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#c8e443, #c8e443); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#c8e443, #c8e443); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#c8e443, #c8e443); /* Standard syntax */
  }
}
.navbar {
  border: 0;
  background-color: transparent;
  .container {
    .navbar-header {
      padding: .8em 0;

      .navbar-brand {
        padding: 0;

        img {
          height: 50px;
        }
      }
    }
    .nav {
      padding-top: 2em;
      li a {
        font-family: 'nilland-blackregular';
        font-size: 16px;
        position: relative;
        display: block;
        padding: 7px 0 3px 0;
        text-align: center;
        text-decoration: none;
        color: #FFF;
        background: transparent;
        
        &:after {
          position: absolute;
          bottom: 0;
          left: 0;
          display: block;
          width: 0;
          height: 2px;
          content: '';
          transition: .2s width ease;
          background-color: #FFF;
        }
        &:hover {
          background: transparent;
          &:after{
            cursor: pointer;
            width: 100%;
          }
        }
      }
      li {
        margin-right: 2em;
        &.active {
          &:hover{
            background: transparent;
            a{
              color: #FFFFFF;
            }
          }
          a:after{
            cursor: pointer;
            width: 100%;
          }
        }
      }
    }
  }
}
#cta {
  margin-top: 25px;

  .wrapper {
    padding: 5% 0 100px;

    h1 {
      font-family: 'axure_handwritingregular';
      font-size: 4em;
      line-height: auto;
      text-align: center;
      color: #fff;

      &.user {
        font-size: 1.5em;
        text-align: center;
        color: #fff;

        span {
          font-family: 'axure_handwritingregular';
          font-size: 3em;
          font-weight: normal;
          line-height: 1.5em;
          color: #fff;
        }
      }
    }
    p {
      margin: 2em;
      text-align: center;
      color: #fff;
    }
    ul {
      width: 100%;
      margin: 0;
      padding: 0;
      list-style: 0;
      text-align: center;

      li {
        display: inline-block;
        margin: 0 1em;
      }
    }
    .vote {
      width: 350px;
      margin: 0 auto;
      text-align: center;
      background: rgba(255, 255, 255, 0);

      p {
        color: #aaa;
      }
      input {
        display: inline-block;
        width: 100%;
        padding: 1em 1em;
        border: 0;
      }
      button {
        display: inline-block;
        width: 100%;
        margin-top: 15px;
      }
      small {
        font-size: 12px;
        font-weight: 400;
        display: block;
        clear: both;
        padding: 1.5em 0;
        color: #aaa;
      }
    }
  }
}

#photo {
  .url {
    display: block;
    width: 90%;
    margin: 2em auto;
    padding: .8em 1em;
    text-align: center;
    border: 3px solid red;
    background: #FFFFFF;

    a {
      color: #000;
      background: none;
    }
  }
  .ads {
    background: none;

    img {
      border: 15px solid #fff;
      width: 100%;
      margin-bottom: 2em;
    }
  }
  .header {
    width: 100%;
    margin-top: -50px;

    img {
      width: 100%;
      border: 15px solid #fff;
      box-shadow: 0 0 50px rgba(0, 0, 0, .5);
    }
  }
}
#content {
  border-top: 10px solid rgba(255, 255, 255, .7);
  border-bottom: 10px solid rgba(255, 255, 255, .7);
  background: url('../img/section.png');

  .content {
    background-color: rgba(255,255,255,0.5);

    h2 {
      font-family: 'nilland-blackregular';
      font-size: 3em;
      font-weight: 900;
      margin: 1em 0;
    }
    h3 {
      font-family: 'nilland-blackregular';
      font-size: 23px;
      font-weight: 400;
      margin: 1em 0;
      text-align: center;

      span {
        font-size: 1.5em;
        font-weight: 900;
        line-height: 1.5em;
      }
    }
    a {
      padding: 0 3px;
      -webkit-transition: all .2s ease-in-out;
      color: #FFFFFF;
      background: #333333;

      &:hover {
        text-decoration: none;
        background: none;
        color: #333333;
      }
      &.share {
        display: block;
        margin-bottom: 1.5em;
        text-align: center;
        background: none;

        img {
          width: 85%;
          height: auto;
          -webkit-transition: transform .2s ease-in-out;
          transform: scale(.95);

          &:hover {
            transform: scale(1);
          }
        }
      }
    }
  }
  &.form {
    padding-bottom: 1em;

    form {
      margin: 1em 0;

      h2 {
        font-size: 2em;
        font-weight: 700;
      }
      input {
        width: 100%;
        margin: 2px 0;
        padding: 1em;
        color: #457866;
        border: 0;
      

        &[type='file'] {
          width: 100%;
          padding: 1em;
          color: #84b4a3;
          background: #FFF;
        }
      }
      textarea {
        width: 100%;
        height: 150px;
        margin-bottom: 2em;
        padding: 1em;
        color: #457866;
        border: 0;
      }
      button {

        @extend .button;

        display: block;
        width: 300px;
        margin: 0 auto 2em;
        padding: .8em 2em;

        &[type='submit'] {
          margin-top: 3em;
        }
      }
      .voorwaarden {
        font-size: .8em;
        display: block;
        overflow: scroll;
        height: 300px;
        padding: 1em;
        border: 3px solid #abdbca;
        background: #fff;
      }
      table td:first-child {
        font-weight: bold;
        padding-right: 10px;
        text-align: right;
      }
      .conditions {
        margin: 2em 0;
      }
    }
    .url {
      display: block;
      width: 90%;
      margin: 2em auto;
      padding: .8em 1em;
      text-align: center;
      border: 3px solid #84b4a3;

      a {
        color: #000;
        background: none;
      }
    }
    a {
      color: #000;
      background: none;
    }
  }
}

#top-5 {
  margin: 2em 0;

  .heading {
    padding: 15px;
    background: url(../img/dark-grungewall.png);
    text-shadow: 3px 3px 0 rgba(0, 0, 0, .2);

    h1 {
      font-family: 'nilland-blackregular';
      font-weight: 900;
      margin: 0;
      color: #fff;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin: 0;
      padding: 5px;
      border-bottom: 2px dashed #333333;
      background: #fff;

      .picture {
        float: left;
        margin-right: 15px;
      }
      .username {
        margin: 0;
        padding-top: .5em;

        a {
          font-size: 1.5em;
          font-weight: 900;
          color: #000;

          &:hover {
            text-decoration: none;
            color: #abdbca;
          }
        }
      }
      .location {
        font-size: .8em;
        margin: 0;

        &::after {
          display: block;
          clear: both;
          content: '';
        }
      }
      .vote-count {
        font-size: 1.2em;
        font-weight: 900;
        display: block;
        float: right;
        padding: 20px 15px 20px 40px;
        background: url('../img/vote-heart-small.png') left center no-repeat;
      }
    }
  }
}
#overview {
  padding-bottom: 3em;

  h1 {
    font-family: 'nilland-blackregular';
    font-size: 3em;
    font-weight: 900;
    margin: 0;
    padding: 1em 0;
    text-align: center;
    color: #fff;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, .2);
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      display: block;

      .wrapper {
        position: relative;
        width: 265px;
        height: 350px;

        .front {
          z-index: 1;
          display: block;
          width: 100%;
          margin: 0;
          padding: 15px 0;
          background: #fff;

          .picture {
            margin: 0 15px 15px;

            img {
              width: 100%;
            }
          }
          .username {
            font-size: 1.5em;
            font-weight: 900;
            margin: 0;
            padding: 0 0 0 15px;
            color: #000;
          }
          .location {
            font-size: .8em;
            margin: 0;
            padding: 0 0 0 15px;
          }
          .vote-count {
            font-size: 1.2em;
            font-weight: 900;
            display: block;
            float: right;
            padding: 20px 15px 20px 40px;
            background: url('../img/vote-heart-small.png') left center no-repeat;
          }
          .fb-like {
            display: none;
          }
        }
        .back {
          position: absolute;
          z-index: 0;
          top: 0;
          display: none;
          width: 100%;
          padding: 15px 0;
          background: #fff;

          .username {
            font-size: 1.2em;
            font-weight: 700;
            text-align: center;

            a {
              color: #000;
            }
          }
          .vote {
            padding: 49px 0;
            text-align: center;

            a {
              img {
                -webkit-transition: transform .2s ease-in-out;
                transform: scale(1);
              }
              &:hover img {
                transform: scale(1.2);
                text-decoration: none;
              }
            }
          }
          .vote-count {
            text-align: center;
          }
          .fb-like {
            display: block;
            width: 130px;
            margin: 10px auto;
            text-align: center;
          }
        }
      }
    }
  }
  .sort {
    margin-bottom: 1em;
    text-align: right;

    h2 {
      font-size: 1.5em;
      font-weight: 700;
      margin: 0 0 15px;
      color: #fff;
    }
    button {
      font-size: .8em;
      position: relative;
      width: 100px;
      padding: .8em 1em;
      text-align: left;
      color: #fff;
      border: 0;
      background: linear-gradient(#f10022, #c7001c);
      &:hover{
        background: linear-gradient(#f10022, #f10022);
      }
      &::after {
        position: absolute;
        top: 13px;
        right: 10px;
        display: block;
        width: 15px;
        height: 15px;
        content: '';
        background: url('../img/sort_down.png') no-repeat;
        
      }
      &.toggle::after {
        background: url('../img/sort_up.png') no-repeat;
      }
    }
  }
}
#comments{
  .container{
    background-color: #FFF;
    h2 {
      font-family: 'nilland-blackregular';
      font-size: 2em;
      font-weight: 900;
      margin: 1em 0;
    }
  }
}
#footer {
  text-align: center;
  background: url('../img/dark-grungewall.png') top center repeat;

  .copyright {
    font-size: .8em;
    display: block;
    margin: 0;
    padding: 2em 0;
    text-align: left;
    color: #fff;
  }
  ul {
    display: block;
    float: right;
    margin: 0;
    padding: 1.5em 0;
    list-style: none;

    li {
      display: inline-block;
      float: left;
      width: auto;
      margin-left: 15px;

      a {
        font-size: .8em;
        color: #fff;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
#blob0 {
  top: 100px;
  left: -150px;
}
#blob1 {
  top: 300px;
  left: -150px;
}
#blob2 {
  top: 600px;
  left: -150px;
}
#blob3 {
  top: 100px;
  right: -150px;
}
#blob4 {
  top: 300px;
  right: -150px;
}
#blob5 {
  top: 600px;
  right: -150px;
}
#blob0, #blob1, #blob2, #blob3, #blob4, #blob5 {
  position: absolute;
  opacity: 0;
}
#flash .flasherror {
  border: 3px solid red;
  background: rgba(255, 0, 0, .5);
}
@media all and (min-width:0) and (max-width:480px) {
  .navbar{
    z-index: 99;
    position: fixed;
    top: 0;
    width: 100%;
    background: #FFFFFF;
    .nav{
      background: #FFF;
      margin: 0 !important;
      padding-top: 0 !important;
      position: relative;

      li{
        width: 100%;
        border-bottom: 1px dashed #333;
        margin: 0;
      
        a{
          padding: 1em 0 !important;
          color: #333 !important;
        }
      }
    }
  }
  #cta {
    padding-top: 75px;
    h1 {
      font-size: 2.5em;
    }
  }
  #content .content h2 {
    font-size: 2em;
  }
  #top-5 ul li .vote-count {
    position: absolute;
    right: 10px;
  }
  #content.form form button {
    width: 200px;
    max-width: 100%;
  }
  #content.form form{
    .container{
      padding: 0;
    }
  }
}
@media all and (max-width:1200px) {
  #blob0, #blob1, #blob2, #blob3, #blob4, #blob5, #blob6, #blob7, #blob8, #blob9, #blob10, #blob11 {
    display: none;
  }
}