@import url("http://fonts.googleapis.com/css?family=Short+Stack");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700,900");
@import url("http://fonts.googleapis.com/css?family=Lato:400,700,900");
#blob0 {
  top: 0px;
  left: -150px;
  animation-delay: .5s; }

#blob1 {
  top: 200px;
  left: -150px;
  animation-delay: 1s; }

#blob2 {
  top: 650px;
  left: -150px;
  animation-delay: 1.5s; }

#blob3 {
  top: 900px;
  left: -150px;
  animation-delay: 2s; }

#blob4 {
  top: 0px;
  right: -150px;
  animation-delay: 2.5s; }

#blob5 {
  top: 50px;
  right: -150px; }

#blob6 {
  top: 400px;
  right: -150px; }

#blob7 {
  top: 700px;
  right: -150px; }

#blob8 {
  top: 750px;
  right: -150px; }

#blob9 {
  top: 1000px;
  right: -150px; }

#blob0, #blob1, #blob2, #blob3 {
  position: absolute;
  opacity: 1;
  left: 0; }

#blob4, #blob5, #blob6, #blob7, #blob8, #blob9 {
  position: absolute;
  opacity: 1;
  right: 0; }

@font-face {
  font-family: 'axure_handwritingregular';
  src: url("fonts/axurehandwriting-webfont.eot");
  src: url("fonts/axurehandwriting-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/axurehandwriting-webfont.woff") format("woff"), url("fonts/axurehandwriting-webfont.ttf") format("truetype"), url("fonts/axurehandwriting-webfont.svg#axure_handwritingregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latoblack';
  src: url("fonts/lato-black-webfont.eot");
  src: url("fonts/lato-black-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/lato-black-webfont.woff") format("woff"), url("fonts/lato-black-webfont.ttf") format("truetype"), url("fonts/lato-black-webfont.svg#latoblack") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latoregular';
  src: url("fonts/lato-regular-webfont.eot");
  src: url("fonts/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/lato-regular-webfont.woff") format("woff"), url("fonts/lato-regular-webfont.ttf") format("truetype"), url("fonts/lato-regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'nilland-blackregular';
  src: url("fonts/nilland-black-webfont.eot");
  src: url("fonts/nilland-black-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/nilland-black-webfont.woff") format("woff"), url("fonts/nilland-black-webfont.ttf") format("truetype"), url("fonts/nilland-black-webfont.svg#nilland-blackregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'nillandregular';
  src: url("fonts/nilland-webfont.eot");
  src: url("fonts/nilland-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/nilland-webfont.woff") format("woff"), url("fonts/nilland-webfont.ttf") format("truetype"), url("fonts/nilland-webfont.svg#nillandregular") format("svg");
  font-weight: normal;
  font-style: normal; }
/* old
@font-face {
  font-family: 'axure_handwritingregular';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/axure_handwritingregular.eot?#iefix') format('embedded-opentype'), url('../fonts/axure_handwritingregular.woff') format('woff'), url('../fonts/axure_handwritingregular.ttf') format('truetype'), url('../fonts/axure_handwritingregular.svg#axure_handwritingregular') format('svg');
}
*/
body {
  font-family: 'nillandregular';
  font-size: 16px;
  background: url("../img/body.png") top center repeat; }

.button, #content.form form button {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  font-family: 'nilland-blackregular';
  display: block;
  width: 200px;
  margin-bottom: 1em;
  padding: .8em 2em;
  color: rgba(0, 0, 0, 0.7);
  border: 1px solid #c8e443;
  background: #92ad0e;
  background: -webkit-linear-gradient(#c8e443, #92ad0e);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#c8e443, #92ad0e);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#c8e443, #92ad0e);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#c8e443, #92ad0e);
  /* Standard syntax */ }
  .button:hover, #content.form form button:hover {
    -webkit-transition: .2s background ease;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    background: -webkit-linear-gradient(#c8e443, #c8e443);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#c8e443, #c8e443);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#c8e443, #c8e443);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#c8e443, #c8e443);
    /* Standard syntax */ }

.navbar {
  border: 0;
  background-color: transparent; }
  .navbar .container .navbar-header {
    padding: .8em 0; }
    .navbar .container .navbar-header .navbar-brand {
      padding: 0; }
      .navbar .container .navbar-header .navbar-brand img {
        height: 50px; }
  .navbar .container .nav {
    padding-top: 2em; }
    .navbar .container .nav li a {
      font-family: 'nilland-blackregular';
      font-size: 16px;
      position: relative;
      display: block;
      padding: 7px 0 3px 0;
      text-align: center;
      text-decoration: none;
      color: #FFF;
      background: transparent; }
      .navbar .container .nav li a:after {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 0;
        height: 2px;
        content: '';
        transition: .2s width ease;
        background-color: #FFF; }
      .navbar .container .nav li a:hover {
        background: transparent; }
        .navbar .container .nav li a:hover:after {
          cursor: pointer;
          width: 100%; }
    .navbar .container .nav li {
      margin-right: 2em; }
      .navbar .container .nav li.active:hover {
        background: transparent; }
        .navbar .container .nav li.active:hover a {
          color: #FFFFFF; }
      .navbar .container .nav li.active a:after {
        cursor: pointer;
        width: 100%; }

#cta {
  margin-top: 25px; }
  #cta .wrapper {
    padding: 5% 0 100px; }
    #cta .wrapper h1 {
      font-family: 'axure_handwritingregular';
      font-size: 4em;
      line-height: auto;
      text-align: center;
      color: #fff; }
      #cta .wrapper h1.user {
        font-size: 1.5em;
        text-align: center;
        color: #fff; }
        #cta .wrapper h1.user span {
          font-family: 'axure_handwritingregular';
          font-size: 3em;
          font-weight: normal;
          line-height: 1.5em;
          color: #fff; }
    #cta .wrapper p {
      margin: 2em;
      text-align: center;
      color: #fff; }
    #cta .wrapper ul {
      width: 100%;
      margin: 0;
      padding: 0;
      list-style: 0;
      text-align: center; }
      #cta .wrapper ul li {
        display: inline-block;
        margin: 0 1em; }
    #cta .wrapper .vote {
      width: 350px;
      margin: 0 auto;
      text-align: center;
      background: rgba(255, 255, 255, 0); }
      #cta .wrapper .vote p {
        color: #aaa; }
      #cta .wrapper .vote input {
        display: inline-block;
        width: 100%;
        padding: 1em 1em;
        border: 0; }
      #cta .wrapper .vote button {
        display: inline-block;
        width: 100%;
        margin-top: 15px; }
      #cta .wrapper .vote small {
        font-size: 12px;
        font-weight: 400;
        display: block;
        clear: both;
        padding: 1.5em 0;
        color: #aaa; }

#photo .url {
  display: block;
  width: 90%;
  margin: 2em auto;
  padding: .8em 1em;
  text-align: center;
  border: 3px solid red;
  background: #FFFFFF; }
  #photo .url a {
    color: #000;
    background: none; }
#photo .ads {
  background: none; }
  #photo .ads img {
    border: 15px solid #fff;
    width: 100%;
    margin-bottom: 2em; }
#photo .header {
  width: 100%;
  margin-top: -50px; }
  #photo .header img {
    width: 100%;
    border: 15px solid #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5); }

#content {
  border-top: 10px solid rgba(255, 255, 255, 0.7);
  border-bottom: 10px solid rgba(255, 255, 255, 0.7);
  background: url("../img/section.png"); }
  #content .hoofdprijs {
    float: left;
    margin-right: 15px; }
  #content .content {
    background-color: rgba(255, 255, 255, 0.5); }
    #content .content h2 {
      font-family: 'nilland-blackregular';
      font-size: 3em;
      font-weight: 900;
      margin: 1em 0; }
    #content .content h3 {
      font-family: 'nilland-blackregular';
      font-size: 23px;
      font-weight: 400;
      margin: 1em 0;
      text-align: center; }
      #content .content h3 span {
        font-size: 1.5em;
        font-weight: 900;
        line-height: 1.5em; }
    #content .content a {
      padding: 0 3px;
      -webkit-transition: all .2s ease-in-out;
      color: #FFFFFF;
      background: #333333; }
      #content .content a:hover {
        text-decoration: none;
        background: none;
        color: #333333; }
      #content .content a.share {
        display: block;
        width: 250px;
        margin: 1.5em auto;
        text-align: center;
        background: none; }
        #content .content a.share img {
          width: 100%;
          height: auto;
          -webkit-transition: transform .2s ease-in-out;
          transform: scale(0.95); }
          #content .content a.share img:hover {
            transform: scale(1); }
  #content.form {
    padding-bottom: 1em; }
    #content.form form {
      margin: 1em 0; }
      #content.form form h2 {
        font-size: 2em;
        font-weight: 700; }
      #content.form form input {
        width: 100%;
        margin: 2px 0;
        padding: 1em;
        color: #333;
        border: 0; }
        #content.form form input[type='file'] {
          width: 100%;
          padding: 1em;
          color: #333;
          background: #FFF; }
      #content.form form textarea {
        width: 100%;
        height: 150px;
        margin-bottom: 2em;
        padding: 1em;
        color: #333;
        border: 0; }
      #content.form form button {
        display: block;
        width: 300px;
        margin: 0 auto 2em;
        padding: .8em 2em; }
        #content.form form button[type='submit'] {
          margin-top: 3em; }
      #content.form form .voorwaarden {
        font-size: .8em;
        display: block;
        overflow: scroll;
        height: 300px;
        padding: 1em;
        background: #fff; }
      #content.form form table td:first-child {
        font-weight: bold;
        padding-right: 10px;
        text-align: right; }
      #content.form form .conditions {
        margin: 2em 0; }
    #content.form .url {
      display: block;
      width: 90%;
      margin: 2em auto;
      padding: .8em 1em;
      text-align: center;
      border: 3px solid red;
      background: #FFFFFF; }
      #content.form .url a {
        color: #000;
        background: none; }
    #content.form a {
      color: #000;
      background: none; }

#top-5 {
  margin: 2em 0; }
  #top-5 .heading {
    padding: 15px;
    background: url(../img/dark-grungewall.png);
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2); }
    #top-5 .heading h1 {
      font-family: 'nilland-blackregular';
      font-weight: 900;
      margin: 0;
      color: #fff; }
  #top-5 ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    #top-5 ul li {
      margin: 0;
      padding: 5px;
      border-bottom: 2px dashed #333333;
      background: #fff; }
      #top-5 ul li .picture {
        float: left;
        margin-right: 15px; }
      #top-5 ul li .username {
        margin: 0;
        padding-top: .5em; }
        #top-5 ul li .username a {
          font-size: 1.5em;
          font-weight: 900;
          color: #000; }
          #top-5 ul li .username a:hover {
            text-decoration: none;
            color: #abdbca; }
      #top-5 ul li .location {
        font-size: .8em;
        margin: 0; }
        #top-5 ul li .location::after {
          display: block;
          clear: both;
          content: ''; }
      #top-5 ul li .vote-count {
        font-size: 1.2em;
        font-weight: 900;
        display: block;
        float: right;
        padding: 20px 15px 20px 40px;
        background: url("../img/vote-heart-small.png") left center no-repeat; }

#overview {
  padding-bottom: 3em; }
  #overview h1 {
    font-family: 'nilland-blackregular';
    font-size: 3em;
    font-weight: 900;
    margin: 0;
    padding: 1em 0;
    text-align: center;
    color: #fff;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2); }
  #overview ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    #overview ul li {
      position: relative;
      display: block; }
      #overview ul li .wrapper {
        position: relative;
        width: 265px;
        height: 320px;
        margin-bottom: 15px;
        max-width: 100%; }
        #overview ul li .wrapper .front {
          z-index: 1;
          display: block;
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 15px 0;
          background: #fff; }
          #overview ul li .wrapper .front .picture {
            margin: 0 15px 15px; }
            #overview ul li .wrapper .front .picture img {
              width: 100%; }
          #overview ul li .wrapper .front .username {
            font-size: 1.5em;
            font-weight: 900;
            margin: 0;
            padding: 0 0 0 15px;
            color: #000; }
          #overview ul li .wrapper .front .location {
            font-size: .8em;
            margin: 0;
            padding: 0 0 0 15px; }
          #overview ul li .wrapper .front .vote-count {
            font-size: 1.2em;
            font-weight: 900;
            display: block;
            float: right;
            padding: 20px 15px 20px 40px;
            background: url("../img/vote-heart-small.png") left center no-repeat; }
          #overview ul li .wrapper .front .fb-like {
            display: none; }
        #overview ul li .wrapper .back {
          position: absolute;
          z-index: 0;
          top: 0;
          display: none;
          width: 100%;
          height: 100%;
          padding: 15px 0;
          background: #fff; }
          #overview ul li .wrapper .back .username {
            font-size: 1.2em;
            font-weight: 700;
            text-align: center; }
            #overview ul li .wrapper .back .username a {
              color: #000; }
          #overview ul li .wrapper .back .vote {
            padding: 49px 0;
            text-align: center; }
            #overview ul li .wrapper .back .vote a img {
              -webkit-transition: transform .2s ease-in-out;
              transform: scale(1); }
            #overview ul li .wrapper .back .vote a:hover img {
              transform: scale(1.2);
              text-decoration: none; }
          #overview ul li .wrapper .back .vote-count {
            text-align: center; }
          #overview ul li .wrapper .back .fb-like {
            display: block;
            width: 130px;
            margin: 10px auto;
            text-align: center; }
  #overview .sort {
    margin-bottom: 1em;
    text-align: right; }
    #overview .sort h2 {
      font-size: 1.5em;
      font-weight: 700;
      margin: 0 0 15px;
      color: #fff; }
    #overview .sort button {
      font-size: .8em;
      position: relative;
      width: 100px;
      padding: .8em 1em;
      text-align: left;
      color: #fff;
      border: 0;
      background: linear-gradient(#f10022, #c7001c); }
      #overview .sort button:hover {
        background: linear-gradient(#f10022, #f10022); }
      #overview .sort button::after {
        position: absolute;
        top: 13px;
        right: 10px;
        display: block;
        width: 15px;
        height: 15px;
        content: '';
        background: url("../img/sort_down.png") no-repeat; }
      #overview .sort button.toggle::after {
        background: url("../img/sort_up.png") no-repeat; }

#comments {
  background-color: #FFF;
  max-width: 700px;
  margin: 20px auto;
  padding: 15px; }
  #comments h2 {
    font-family: 'nilland-blackregular';
    font-size: 2em;
    margin: 1em 0; }

#footer {
  text-align: center;
  background: url("../img/dark-grungewall.png") top center repeat; }
  #footer .copyright {
    font-size: .8em;
    display: block;
    margin: 0;
    padding: 2em 0;
    text-align: left;
    color: #fff; }
  #footer ul {
    display: block;
    float: right;
    margin: 0;
    padding: 1.5em 0;
    list-style: none; }
    #footer ul li {
      display: inline-block;
      float: left;
      width: auto;
      margin-left: 15px; }
      #footer ul li a {
        font-size: .8em;
        color: #fff; }
        #footer ul li a:hover {
          text-decoration: underline; }

#flash .flasherror {
  border: 3px solid red;
  background: rgba(255, 0, 0, 0.5); }

@media all and (min-width: 0) and (max-width: 767px) {
  .navbar {
    z-index: 99;
    position: fixed;
    top: 0;
    width: 100%;
    background: #FFFFFF; }
    .navbar .nav {
      background: #FFF;
      margin: 0 !important;
      padding-top: 0 !important;
      position: relative; }
      .navbar .nav li {
        width: 100%;
        border-bottom: 1px dashed #333;
        margin: 0; }
        .navbar .nav li a {
          padding: 1em 0 !important;
          color: #333 !important; }

  #cta {
    padding-top: 75px; }
    #cta h1 {
      font-size: 2.5em; }

  #content .content h2 {
    font-size: 2em; }

  #top-5 ul li .vote-count {
    position: absolute;
    right: 10px; }

  #content.form form button {
    width: 200px;
    max-width: 100%; }

  #content.form form .container {
    padding: 0; } }
@media all and (max-width: 1200px) {
  #content .hoofdprijs {
    float: none; } }
@media all and (max-width: 1200px) {
  #blob0, #blob1, #blob2, #blob3, #blob4, #blob5, #blob6, #blob7, #blob8, #blob9, #blob10, #blob11 {
    display: none; } }

/*# sourceMappingURL=style.css.map */
